<!DOCTYPE html>
<html lang="en">
 <head>
        <title>Simple file upload using Python Flask</title>
    </head>
    <body>
        <form action="/handleUpload" method="post" enctype="multipart/form-data">
            Choose the file: <input type="file" name="photo"/><BR>
        <input type="text" name="destination" id="destination" size="40" placeholder="Enter the destination path">
        <!--<textarea name="destination" class="form-control" rows="1" placeholder="Enter the destination path"></textarea>-->
        <button type="submit" class="btn btn-default btn-lg">Send</button>

        </form>
    </body>
</html>
</html>
